<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <!-- You can use your own local ip address instead of localhost, by this way, 
                  the app is going to work in a Local Area Network Cliente 188.76.38.2:11581-->            
            <endpoint name="ChatConfig"
                      contract="WcfChat.IChatService"
                      binding="basicHttpBinding"
                      address="http://localhost:2020"/>
        </client>
    </system.serviceModel>
	<appSettings>
		<add key="ColorNombre" value="Color.Black" />
		<add key="ColorTexto" value="Color.Blue" />
	</appSettings>
</configuration>
