<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="WcfChat.ChatService">
                <!-- You can use your own local ip address instead of localhost, by this way, 
                     the app is going to work in a Local Area Network Servidor -->
                <endpoint address="http://localhost:2020"
                          binding="basicHttpBinding"
                          contract="WcfChat.IChatService"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>